.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10% 0px;
}

.container header {
  text-align: center;
  margin-bottom: 20px;
}

.container header h1 {
  font-size: 70px;
  line-height: 70px;
}

.container main div.msgReturn {
  background-color: #0FC827;
  border: 1px solid #707070;
  color: #fff;
  height: 50px;
  border-radius: 31px;
  text-align: center;
  margin-bottom: 20px;
}

.container main div.msgReturn p {
  line-height: 50px;
}

.container main form {
  width: 100%;
}

.container main form input, .container main form label {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

.container main form input {
  border-radius: 31px;
  border: 1px solid #ccc;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
}

.container main form input[type=submit] {
  width: 200px;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  color: #fff;
  background-color: #707070;
  font-size: 16px;
}
/*# sourceMappingURL=MS-Login.css.map */