.container{
    box-sizing: border-box;
    padding: 10% 0px;
    header{
        text-align: center;
        h1{
            font-size: 70px;
            line-height: 70px;
        }
        margin-bottom: 20px;
    }
    main{
        div.msgReturn{
            background-color: #0FC827;
            border: 1px solid #707070;
            color: #fff;
            height: 50px;
            border-radius: 31px;
            text-align: center;
            margin-bottom: 20px;
            p{
                line-height: 50px;
            }
        }
        form{
            width: 100%;
            // text-align: center;
            input, label{
                display: block;
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 20px;
            }
            input{
                border-radius: 31px;
                border: 1px solid #ccc;
                height: 50px;
                box-sizing: border-box;
                padding-left: 40px;
            }
            input[type=submit]{
                width: 200px;
                margin: 0 auto;
                padding: 0;
                cursor: pointer;
                color: #fff;
                background-color: #707070;
                font-size: 16px;
            }
        }
    }
}