body {
  font-family: Tahoma, Arial;
  color: #707070;
}

.container {
  width: 50%;
  margin: 0 auto;
  min-height: 99vh;
}

@media (min-width: 0px) and (max-width: 767px) {
  .container {
    width: 95%;
  }
}
/*# sourceMappingURL=MS-Master.css.map */