body{
    font-family: Tahoma, Arial;
    color: #707070;
}

.container{
    width: 50%;
    margin: 0 auto;
    // border: 1px solid;
    min-height: 99vh;
    @media (min-width: 0px) and (max-width: 767px) {
        width: 95%;
    }
}